@font-face {
    font-family: "luckiestGuy";
    src: url("./fonts/LuckiestGuy-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "luckiestGuy";
    font-size: 22px;
    background: #f9f9f9;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

h1 {
    background-image: linear-gradient(90deg, #4690a1 0%, #5dbed4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.671));
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    font-size: 56px;
    margin: 20px 0px;

}

p {
    margin: 0;
}

canvas {
    background-color: black;
    display: block;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288), -10px -10px 10px #ffffff;
}

.help {
    margin-top: 20px;
    color: rgb(0, 95, 238);
    background-color: linear-gradient(90deg, #4690a1 100%, #5dbed4 0%);
    border-radius: 10px;
    padding: 10px;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}

.help:hover {
    box-shadow: 3px 3px 7px white, -3px -3px 5px #0000001e;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    canvas {
       height: 100vh;
    }
}