@font-face {
    font-family: "luckiestGuy";
    src: url("./fonts/LuckiestGuy-Regular.ttf");
}

.d-none {
    display: none !important;
}

.transition {
    transition: all 150ms ease-in-out;
}

#container {
    position: relative;
    display: flex;
    justify-content: center;
    max-width: 720px;
    width: 100%;
    margin-top: 50px;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "luckiestGuy";
    font-size: 22px;
    background-image: url("img/Menu/background.png");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
    height: 100vh;
}

h1 {
    position: absolute;
    background-image: linear-gradient(90deg, #4690a1 0%, #5dbed4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 0px 3px rgba(0, 0, 0, 0.671));
    -webkit-text-stroke: 0.1px rgb(255, 255, 255);
    font-size: 64px;
    margin: 15px 0px;
}

p {
    margin: 0;
}

menu {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    padding-inline-start: 0;
    margin-right: 150px;
}

.start {
    height: 55px;
    width: auto;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 40%;
    margin-right: 10%;
}

.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 10px;
}

.victory-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.664);
    background-image: url("img/6.Botones/Try again/Mesa de trabajo 1.png");
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 10px;
}

.tryagain {
    height: 55px;
    width: auto;
    position: absolute;
    top: 320px;
    left: 240px;
    cursor: pointer;
    border-radius: 15px;
}

.tryagain:hover {
    box-shadow: 0px 0px 5px 3px rgba(161, 161, 161, 0.589);
    transform: scale(1.01);
}

.gameover-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.767);
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 10px;
}

.gameover-title {
    position: absolute;
    display: flex;
    justify-content: center;
    height: 60px;
    filter: drop-shadow(0px 0px 2px white);
}

.start:hover {
    box-shadow: 0px 0px 5px 3px rgba(161, 161, 161, 0.589);
    transform: scale(1.01);
}

.panel {
    display: none;
}

canvas {
    background-color: black;
    display: block;
    transition: all 100ms ease-in-out;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288), -10px -10px 10px #1d246480;
    background-image: url("img/3. Background/Mesa de trabajo 1.png");
    background-size: cover;
}

.help {
    color: rgba(255, 255, 255, 0.781);
    background: linear-gradient(90deg, #4690a1d3 100%, #5dbed4d2 0%);
    border-radius: 10px;
    transition: all 200ms ease-in-out;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 101;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: 33px;
}

.info {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    gap: 5px;
    margin-right: 20px;
    margin-top: 10px;
    z-index: 100;
}

.info img {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.fin-slap {
    height: 70px;
    width: auto;
    position: relative;
    top: -8px;
    left: -2px;
}

.bubble-key {
    height: 35px;
    width: auto;
}

.arrow {
    height: 50px;
    width: auto;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.712));
}

#hud {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: space-between;
}

.panel {
    display: flex;
}

.panel-wrapper-left,
.panel-wrapper-right div {
    display: flex;
    justify-content: center;
}

.panel-wrapper-left {
    display: flex;
    gap: 20px;
    margin-bottom: -35px;
    margin-left: 40px;
}

.panel-wrapper-right {
    position: relative;
    right: -10px;
    margin-bottom: 10px;
}

button {
    height: 55px;
    width: 55px;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(127, 255, 212, 0.87);
}

#btnOne {
    position: relative;
    top: 40px;
}

#btnTwo {
    position: relative;
    left: -10px;
    top: -2px;
}

#btnThree {
    position: relative;
    top: -40px;
    left: -16px;
}

#btnUp {
    position: relative;
    right: -35px;
    top: -10px;
    transform: scale(1.2);
}

#btnLeft,
#btnRight {
    transform: scale(1.2);
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    canvas {
        height: 100vh;
    }
    .rotate-device {
        display: none;
    }
}

@media only screen and (orientation:landscape) and (max-width: 480px) {
    .rotate-device {
        display: flex;
    }
}



@media (max-width: 680px) {
    #hud {
        display: flex;
    }

    h1 {
        display: none;
    }

    #fullscreen {
        display: none;
    }

    .start {
        margin-top: 30%;
        height: 40px;
    }
}